.root{
  text-align: center;
  h1{
    font-size: 61px;
    line-height: 71px;
    padding-bottom: 40px;
  }
  p{
    font-size: 19px;
    margin-bottom: 40px;
  }
  a{
    padding: 5px 25px;
    font-weight: 700;
    font-size: 19px;
    line-height: 26px;
    color: #fff;
    background-color: #005BFF;
    border-radius: 10px;
    border: 2px solid #005BFF;
  }
}